body {
  font-family: 'Rajdhani', sans-serif;
  padding-top: 5rem;
  margin:0;
  background-image:url("../images/et-title.png");
  background-repeat:repeat-x;
  background-attachment: fixed;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size:40px;
}


h1 {
  font-size: 55px;
  text-align: left;
  color: #fff
}

.wd{
  color: #ffc107ba;
}

.bf{
  color: black;
}

.navbar-dark {
  background-color: rgba(105, 205, 255, 0.6)
}
