html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('../images/et-title.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2 {
  font-weight: bolder;
  margin-top: 20%;
  color: rgb(153, 255, 204);
}

.col-sm {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
}
.navbar-dark {
  background-color: rgba(204, 255, 255, 0.3)
}

.title {
  background-attachment: fixed;
  padding: 60px;
  margin: 0px;
  display: inline-block;
}

.container-fluid {
  padding: 0px
}

/*Fonts*/

.titleFont {
  color: white;
  font-weight: bolder;
  font-size: 72px;
}

.infoFont {
  font-size: 25px;
}

.col-bg {
  margin-top: 50px;
}

.navigation li {
  float: left;
}

.row.selection {
  background-color: rgba(204, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.et-title {
  margin-top: 70px;
  margin-bottom: 80px;
}

.wrapper {
  position: relative;
  padding: 0;
  width: auto;
  display: block;
}

.text {
    position: absolute;
    top: 0;
    background-color:rgba(255,255,255,0.3);
    font-weight:bolder;
    width: 100%;
    height: 100%;
    line-height:100px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    line-height: 500px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text:hover {
    opacity: 1;
}

.make-smaller {
  overflow: auto;
  width: 100%;
}

.img {
    z-index: 1;
    position: sticky;
    object-fit: contain;

}

.contact-us {
  background-color: rgba(204, 255, 255, 0.3);
  text-align: center;
  width: 100%;
  padding-bottom: 70px;

}

.override {
  margin: 0px;
  padding: 0px;
}

.infoFont img {
  position: fixed;
  right: 2px;
  bottom: 0px;
  border-radius: 50px;
}
